parameters:
  level: 5  # 从 6 降低到 5，减少检查严格度
  paths:
    - app
    - plugin/admin/app
    - plugin/sms/app
  excludePaths:
    - vendor
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#Call to undefined method .*::.*#'
    - '#Access to an undefined property .*::\$.*#'
    - '#Parameter .* of method .* expects .* array\\|Traversable, .* given#'
  bootstrapFiles:
    - vendor/autoload.php