{% extends 'base.html.twig' %}

{% block title %}{{ page_title|default('Rainyun 控制台') }}{% endblock %}

{% block content %}
    <div class="max-w-full mx-auto px-4">
        <div class="bg-white rounded-2xl shadow-md p-0 sm:p-0 no-animation">
            {% include 'rainyun/console.content.html.twig' %}
        </div>
    </div>
{% endblock %}
